<div class="col-12 p-0 mb-2">
  <app-breadcrumbs [items]="items"></app-breadcrumbs>
</div>

<div class="col-12 card">
  <div class="grid">
    <div class="col-3 p-2 cursor-pointer" *ngFor="let item of itemsList; let i = index">
      <div class="mb-3 relative h-25rem border-round bg-cover bg-no-repeat"
           style="background-image: url('https://blocks.primeng.org/assets/images/blocks/team/team-9.png');">
        <div class="border-round p-3 absolute text-white inline-flex flex-column justify-content-center font-semibold"
             style="bottom: 1rem; left: 1rem; width: calc(100% - 2rem); background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%); backdrop-filter: blur(6px);">
           <h3 class="font-light text-xl xl:text-2xl mb-2 mt-0">Predavanje {{i + 1}}</h3>
           <p class="font-normal text-sm xl:text-base mb-0 mt-0 text-white-alpha-70">Obuka tip {{i + 1}}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

