
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="grid" >
              <div class="flex flex-column gap-2 col-12 p-1">
                  <label htmlFor="naziv">Naziv</label>
                  <input pInputText id="naziv"  autocomplete="off" formControlName="naziv"/>
              </div>

              <div class="flex flex-column gap-2 col-12 p-1">
                  <label htmlFor="sifra">Sifra</label>
                  <input pInputText id="sifra" autocomplete="off" formControlName="sifra"/>
              </div>

              <div class="flex flex-column gap-2 col-12 p-1">
                <label htmlFor="opis">Opis</label>
                <input pInputText id="opis"  autocomplete="off" formControlName="opis"/>
              </div>

              <div class="col-12 text-right pt-2">
                  <button pButton type="submit" label="Sačuvaj" class="w-6" ></button>
              </div>
      </div>
  </form>

