<app-breadcrumbs [items]="items"></app-breadcrumbs>

<div class="grid mt-2 p-1">
  <div class="col-8">
    <video id="player" controls></video>
  </div>
  <div class="col-4">

    <div class="flex flex-column h-full">
      <div class="flex align-items-center border-bottom-1 surface-border p-1 lg:p-1">
      </div>
      <div class="p-3 md:px-4 lg:px-6 lg:py-4 mt-2 overflow-y-auto" style="max-height: 53vh;">

         <div class="ng-star-inserted">
            <div class="grid grid-nogutter mb-4 ng-star-inserted">
               <div class="col mt-3">
                  <p class="text-900 font-semibold mb-3">Ioni Bowcher</p>
                  <span class="text-700 inline-block font-xs border-1 surface-border p-3 white-space-normal border-round" style="word-break: break-word; max-width: 90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
               </div>
            </div>
         </div>



         <div class="ng-star-inserted">
            <div class="grid grid-nogutter mb-4 ng-star-inserted">
               <div class="col mt-3 text-right">
                  <p class="text-900 font-semibold mb-3">Konsultant</p>
                  <span class="inline-block text-left font-xs border-1 surface-border bg-primary-100 text-primary-900 p-3 white-space-normal border-round" style="word-break: break-word; max-width: 90%;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
               </div>
            </div>
         </div>

      </div>

      <div class="p-3     flex flex-column sm:flex-row align-items-center mt-auto border-top-1 surface-border gap-3">
         <input id="message" type="text" pinputtext="" placeholder="Type a message" class="p-inputtext p-component p-element flex-1 w-full sm:w-auto border-round ng-untouched ng-pristine ng-valid" fdprocessedid="2qoalk">
         <div class="flex w-full sm:w-auto gap-3">
          <button pbutton="" pripple="" label="Send" icon="pi pi-send" class="p-element p-ripple w-full sm:w-auto p-button p-component" fdprocessedid="09bfe"><span class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span><span class="p-button-label">Send</span><span class="p-ink" aria-hidden="true" role="presentation"></span></button></div>
      </div>
   </div>

  </div>
</div>



