<ng-container  >
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="col-12 grid" >
                <div class="flex flex-column gap-2 col-12 p-1">
                    <label htmlFor="konto">Konto</label>
                    <input pInputText id="konto" aria-describedby="name-help"  autocomplete="off" formControlName="konto"/>
                </div>

                <div class="flex flex-column gap-2 col-12 p-1">
                    <label htmlFor="name">Naziv</label>
                    <input pInputText id="name" aria-describedby="code-help"  autocomplete="off" formControlName="naziv"/>
                </div>

                <div class="flex flex-column gap-2 col-12 p-1">
                  <label htmlFor="opis">Opis</label>
                  <input pInputText id="opis" aria-describedby="code-help"  autocomplete="off" formControlName="opis"/>
                </div>

                <div class="col-12 flex flex-column align-items-end justify-content-end p-1 pt-2">
                    <button pButton type="submit" label="Sačuvaj" class="w-6" ></button>
                </div>
        </div>
    </form>
  </ng-container>
