<div class="col-12 p-0 mb-2">
  <app-breadcrumbs [items]="items"></app-breadcrumbs>
</div>

<div class="grid">
    <div class="col-6">
        <div class="p-3 card">
            <div class="m-0 font-bold">Struktura KJS u RS</div>
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
    <div class="col-6">
        <div class="p-3 card">
            <div class="m-0 font-bold">Edukacije eRIC doo</div>
            <p-chart type="pie" [data]="data2" [options]="options"></p-chart>
        </div>
    </div>

</div>


<div class="col-12 card border-round p-4">
  <div class="text-xl text-900 font-medium mb-5">Šta je novo u aplikaciji</div>
  <ul class="list-none p-0 m-0">
    <li class="py-3 border-bottom-1 surface-border">
      <div class="font-medium text-900 mb-2">Verzija 1.0.8</div>
      <div class="line-height-3 text-600" style="max-width: 30rem;">#154712 - Dodat sistem za izmenu zapolsenog</div>
      <div class="line-height-3 text-600" style="max-width: 30rem;">#154713 - Dodat sistem za kreiranje zaposlenog</div>
   </li>
     <li class="pb-3 border-bottom-1 surface-border">
        <div class="font-medium text-900 mb-2">Verzija 1.0.7</div>
        <div class="line-height-3 text-600" style="max-width: 30rem;">#154711 - Dodata opcija za kreiranje korisnika.</div>
     </li>
  </ul>
</div>
