<div class="col-12 p-0 mb-2">
  <app-breadcrumbs [items]="items"></app-breadcrumbs>
</div>

<div class="grid">
    <div class="col-6">
        <div class="p-3 card">
            <div class="m-0 font-bold">Struktura KJS u RS</div>
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
    <div class="col-6">
        <div class="p-3 card">
            <div class="m-0 font-bold">Edukacije eRIC doo</div>
            <p-chart type="pie" [data]="data2" [options]="options"></p-chart>
        </div>
    </div>
</div>
