<div class="card">
  <h5>Maloprodajna kalkulacije</h5>

  <div class="grid sifarnik-main">
    <div class="col-12 md:col-9">
			<span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, kalkulacije)"
                       placeholder="Pretraga"/>
            </span>
    </div>
    <div class="col-12 md:col-3">
      <button pButton type="button" class="min-w-full sifarnik-button" label="Nova maloprodajna kalkulacija"
              routerLink="/obrada/maloprodajna-kalkulacija/10"></button>
    </div>
  </div>



  <p-table #dt1 styleClass="p-datatable-sm" [value]="(kalkulacije | async)!">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="broj">Broj
          <p-sortIcon field="broj"></p-sortIcon>
        </th>
        <th pSortableColumn="datum">Datum
          <p-sortIcon field="datum"></p-sortIcon>
        </th>
        <th pSortableColumn="rok_placanja">Rok plaćanja
          <p-sortIcon field="rok_placanja"></p-sortIcon>
        </th>
        <th pSortableColumn="br_racuna">Broj računa
          <p-sortIcon field="br_racuna"></p-sortIcon>
        </th>
        <th pSortableColumn="skladiste">Skladište
          <p-sortIcon field="skladiste"></p-sortIcon>
        </th>
        <th pSortableColumn="dobavljac">Dobavljač
          <p-sortIcon field="dobavljac"></p-sortIcon>
        </th>
        <th pSortableColumn="iznos">Iznos
          <p-sortIcon field="iznos"></p-sortIcon>
        </th>
        <th>PL</th>
        <th>Z</th>
        <th>PR</th>
        <th>Akcija</th>


      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-kaklulacija>
      <tr>
        <td>{{kaklulacija.broj}}</td>
        <td>{{kaklulacija.datum}}</td>
        <td>{{kaklulacija.rok_placanja}}</td>
        <td>{{kaklulacija.br_racuna}}</td>
        <td>{{kaklulacija.skladiste}}</td>
        <td>{{kaklulacija.dobavljac}}</td>
        <td>{{kaklulacija.iznos | number}}</td>
        <td>
          <button *ngIf="kaklulacija.PL == true" pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="kaklulacija.PL == false" pButton pRipple type="button" icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger mr-2"></button>
        </td>
        <td>
          <button *ngIf="kaklulacija.Z == true" pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="kaklulacija.Z == false" pButton pRipple type="button" icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger mr-2"></button>
        </td>
        <td>
          <button *ngIf="kaklulacija.PR == true" pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="kaklulacija.PR == false" pButton pRipple type="button" icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger mr-2"  routerLink="/obrada/maloprodajna-kalkulacija/10"></button>
        </td>
        <td>
          <p-button icon="pi pi-search" styleClass="p-button-success" [style]="{'margin-right': '.5em'}"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

