<div class="col-12 p-0 mb-2">
  <app-breadcrumbs [items]="items"></app-breadcrumbs>
</div>

<div class="col-12 card">
      <p-table
          #dt1
          [value]="dokument$ | async"
          dataKey="id"
          [rows]="5"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [paginator]="true"
          currentPageReportTemplate="Prikaži od {first} do {last} od ukupno {totalRecords} redova"
          [globalFilterFields]="['id','name', 'address', 'country']"
          [(contextMenuSelection)]="contextData"
          [contextMenu]="cm"
          >
          <ng-template pTemplate="caption">
              <div class="flex justify-content-end">
                  <p-button type="button" icon="pi pi-plus" (click)="createDokument()"></p-button>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="sifra">
                      <div class="flex align-items-center">
                          Sifra
                          <p-sortIcon field="sifra"></p-sortIcon>
                          <p-columnFilter type="text" field="sifra" display="menu" class="ml-auto"></p-columnFilter>
                      </div>
                  </th>
                  <th pSortableColumn="naziv">
                      <div class="flex align-items-center">
                          Naziv
                          <p-sortIcon field="naziv"></p-sortIcon>
                          <p-columnFilter type="text" field="naziv" display="menu" class="ml-auto"></p-columnFilter>
                      </div>
                  </th>
                  <th pSortableColumn="opis">
                      <div class="flex align-items-center">
                          Opis
                          <p-sortIcon field="opis"></p-sortIcon>
                          <p-columnFilter type="text" field="opis" display="menu" class="ml-auto"></p-columnFilter>
                      </div>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
              <tr class="text-sm" [pContextMenuRow]="data">
                  <td class="cursor-pointer font-bold text-primary" (click)="goToDokument(data.id)">
                      {{ data.sifra }}
                  </td>
                  <td>
                      {{ data.naziv  }}
                  </td>
                  <td>
                      {{ data.opis  }}
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="7">No dokumens found.</td>
              </tr>
          </ng-template>
      </p-table>
</div>



<p-contextMenu #cm [model]="context"></p-contextMenu>
