<div class="col-12 p-0 mb-2">
  <app-breadcrumbs [items]="items"></app-breadcrumbs>
</div>

<div class="col-12 card text-right mb-2">
  <p-button label="Kreiraj novi video" icon="pi pi-desktop" styleClass="p-button-outlined p-button-success" (click)="showDialog()"></p-button>
</div>

<div class="col-12 card">
  <div class="grid">
    <ng-container *ngIf="(itemsList$ | async) as itemsList">
      <div class="col-3 p-2 cursor-pointer" *ngFor="let item of itemsList; let i = index" >
        <div class="mb-3 relative h-25rem border-round bg-cover bg-no-repeat"
              style="background-image: url('https://www.caut.ca/sites/default/files/education.jpg');">
            <div class="border-round p-3 absolute text-white inline-flex flex-column justify-content-center font-semibold"
                style="bottom: 1rem; left: 1rem; width: calc(100% - 2rem); background: linear-gradient(90deg, rgb(255 36 36), rgb(255 149 149) 100%); backdrop-filter: blur(6px);">
              <h3 class="font-bold text-xl xl:text-2xl mb-2 mt-0 text-white-alpha-70">{{item.name}}</h3>
              <p class="font-normal text-sm xl:text-base mb-0 mt-0 text-white-alpha-70">{{item.short_desc}}</p>
              <div class="bg-white p-2 text-right z-1">
                <p-button icon="pi pi-eye" styleClass="p-button-success p-button-outlined mr-2" (click)="showVideo(item)"></p-button>
                <p-button icon="pi pi-pencil" styleClass="p-button-warning p-button-outlined mr-2" (onClick)="edit()"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-outlined"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
</div>

<p-dialog header="Kreiraj novi video" [(visible)]="visible" [style]="{width: '30vw'}" modal="true">
  <div class="grid mt-1">
    <div class="col-12 flex flex-column gap-2">
      <label htmlFor="username">Naziv</label>
      <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="name" />
    </div>
    <div class="col-12 flex flex-column gap-2">
      <label htmlFor="username">Kratak opis</label>
      <input pInputText aria-describedby="username-help" [(ngModel)]="short_desc" />
    </div>
    <div class="col-6 flex flex-column gap-2">
      <label htmlFor="username">Izvor</label>
      <p-dropdown [options]="provider" [(ngModel)]="providerSelected"  [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-6 flex flex-column gap-2">
      <label htmlFor="username">Aktivan</label>
      <p-dropdown [options]="status" [(ngModel)]="statusSelected"  [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 flex flex-column gap-2">
      <label htmlFor="username">Link </label>
      <input pInputText aria-describedby="username-help" [(ngModel)]="link" />
      <small id="username-help">Kao izvor koristi se ID</small>
    </div>


    <div class="col-12 text-right">
      <p-button label="Kreiraj video" icon="pi pi-desktop" styleClass="p-button-outlined p-button-success" (click)="create()"></p-button>
    </div>
  </div>
</p-dialog>
