<div class="col-12 p-0 mb-2">
  <app-breadcrumbs [items]="items"></app-breadcrumbs>
</div>

<div class="col-12 card">
  <p-table
      #dt1
      [value]="user$ | async"
      dataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Prikaži od {first} do {last} od ukupno {totalRecords} redova"
      [globalFilterFields]="['id','name', 'address', 'country']"
      >

      <ng-template pTemplate="caption">
        <div class="flex">
          <div class="">Maksimalni broj licenci je {{ this.numberLicence }}. Za dodatne licence kontaktirajte administratora.</div>
          <button type="button" pButton pRipple icon="pi pi-plus"  (click)="create()" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
        </div>
    </ng-template>

      <ng-template pTemplate="header">
          <tr>

              <th pSortableColumn="company_name">
                  <div class="flex align-items-center">
                      Ime
                      <p-sortIcon field="company_name"></p-sortIcon>
                      <p-columnFilter type="text" field="company_name" display="menu" class="ml-auto"></p-columnFilter>
                  </div>
              </th>
              <th pSortableColumn="pib">
                  <div class="flex align-items-center">
                      Prezime
                      <p-sortIcon field="pib"></p-sortIcon>
                      <p-columnFilter type="text" field="pib" display="menu" class="ml-auto"></p-columnFilter>
                  </div>
              </th>
              <th pSortableColumn="jbkjs" >
                <div class="flex align-items-center">
                    Korisničko ime/email
                    <p-sortIcon field="jbkjs"></p-sortIcon>
                    <p-columnFilter type="text" field="jbkjs" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="is_active">
                <div class="flex align-items-center">
                    Aktivan
                    <p-sortIcon field="is_actives"></p-sortIcon>
               </div>
              </th>
              <th style="width: 10rem">
                  <div class="flex align-items-center">
                      Akcija
                  </div>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr>

              <td>
                  {{ data.name }}
              </td>
              <td>
                  {{ data.lastname  }}
              </td>
              <td>
                {{ data.email  }}
              </td>
              <td>
                <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': data.is_active, 'text-red-500 pi-times-circle': !data.is_active }"></i>
              </td>


              <td class="text-right">
                  <p-button type="button" icon="pi pi-pencil" styleClass="p-button-info" (click)="edit(data)"></p-button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="7">No product certificates found.</td>
          </tr>
      </ng-template>
  </p-table>
</div>



<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '500px' }"
  header="Kreiranje zaposlenog"
>
  <div class="grid" >
    <div class="col-12">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Ime</label>
        <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="firstName" />
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Prezime</label>
        <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="lastName" />
      </div>
      <div class="flex flex-column gap-2" *ngIf="this.userID == ''">
        <label htmlFor="username">Mail</label>
        <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="email" />
      </div>
      <div class="flex flex-column gap-2" *ngIf="this.userID == ''">
        <label htmlFor="username" >Šifra</label>
        <p-password [(ngModel)]="password" [toggleMask]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
      </div>
    </div>
    <div class="col-12 text-left">

      <p-button label="Sačuvaj" styleClass="p-button-raised p-button-success" [style]="{'width':'48%'}" (click)="save()"></p-button>
      <p-button label="Odustani" styleClass="p-button-raised p-button-danger" class="w-6 ml-2 font-medium" [style]="{'width':'49%'}" (click)="cancel()"></p-button>
    </div>
  </div>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
